<button (click)="start()" [disabled]="!canStart()">Start</button>
<button (click)="reset()" [disabled]="!canReset()">Reset</button>

<div class="layout">
  <div class="block" *ngFor="let block of blocks; index as i"
    (click)="userAction(i)"
    (mouseenter)="blockEnter(block)"
    (mouseleave)="blockLeave(block)"
  >
    <img *ngIf="players[0] === block.setBy || (!block.setBy && isEnter(block) && currentPlayer === players[0])" src="assets/circle.svg">
    <img *ngIf="players[1] === block.setBy || (!block.setBy && isEnter(block) && currentPlayer === players[1]) " src="assets/cross.svg">
  </div>
</div>

<div class="info">
  <div>
    Current Player: <img [src]="currentPlayer === players[0] ? 'assets/circle.svg': 'assets/cross.svg'">
  </div>

  <div *ngFor="let player of players">
    <img [src]="player === players[0] ? 'assets/circle.svg': 'assets/cross.svg'"> {{player.remains / 1000}}
    <span *ngIf="player === wonPlayer">Won</span>
  </div>
</div>
